@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

body {
  margin: 0px;
  background-color: rgb(0, 24, 45);
  font-family: "Anton SC", sans-serif;
}

#main-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  font-size: 2rem;
  color: rgb(22, 74, 119);
  letter-spacing: 5px;
  text-shadow: 2px 2px 0px rgba(227, 227, 227, 1);
}

#boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

#player-board {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: rgb(0, 24, 45);
  width: 500px;
  height: 500px;
}

#computer-board {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: 0, 24, 45;
  width: 500px;
  height: 500px;
}

.board-square,
.enemy-board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 74, 119);
  width: 49px;
  height: 49px;
}

.enemy-board-square:hover {
  opacity: 0.9;
  cursor: pointer;
}

.ship {
  background-color: rgba(227, 227, 227, 0.7);
}

.comp-ship {
  background-color: none;
}

.hit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgba(158, 24, 24, 0.66);
}

.miss {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
}
