@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

body {
  margin: 0px;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 24, 45), rgb(0, 11, 20));
  font-family: "Courier New", Courier, monospace;
}

#main-container {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  font-size: 2rem;
  color: rgb(145, 169, 191);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 1px 3px 0px rgb(0, 9, 17);
}

#boards {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "player-name  computer-name"
    "player-board  computer-board";
  justify-items: center;
  align-items: center;
  gap: 10px;
}

#player-board {
  grid-area: player-board;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: rgb(0, 24, 45);
  width: 500px;
  height: 500px;
}

#computer-board {
  grid-area: computer-board;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: 0, 24, 45;
  width: 500px;
  height: 500px;
}

.board-square,
.enemy-board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 74, 119);
  width: 49px;
  height: 49px;
}

.enemy-board-square:hover {
  opacity: 0.9;
  cursor: pointer;
}

.ship {
  background-color: rgba(227, 227, 227, 0.7);
}

.comp-ship {
  background-color: none;
}

.hit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgba(158, 24, 24, 0.66);
}

.miss {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
}

.submit-btn {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgb(210, 218, 226);
  background-color: rgb(22, 74, 119);
  height: 100%;
  width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.randomize-btn {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: rgba(227, 227, 227, 1);
  background-color: rgb(22, 74, 119);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.start-btn,
.restart-btn {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: rgba(227, 227, 227, 1);
  background-color: rgb(157, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 5px 1px white;
}

.user-input-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.user-input {
  width: 300px;
  background-color: rgba(0, 11, 20, 0.468);
  border: 2px solid rgb(50, 111, 164);
  border-radius: 10px;
  color: rgb(50, 111, 164);
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0px 10px;
}

.user-input-label {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(50, 111, 164);
  text-transform: uppercase;
  font-size: 2rem;
}

.h2-player-name,
.h2-computer-name {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(50, 111, 164);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
}

.h2-player-name {
  grid-area: player-name;
}

.h2-computer-name {
  grid-area: computer-name;
}

.error-message {
  color: rgb(145, 169, 191);
  margin-left: 25px;
  margin-top: 10px;
}

.winner-message {
  color: white;
}

.game-btns-div {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}
